HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

src/main/resources/templates/screening/add-screening\.html

src/main/java/dk/kea/dat18i/team8/biotrio/demo/Seat/SeatController\.java

src/main/java/dk/kea/dat18i/team8/biotrio/demo/screenings/ScreeningRepository\.java

src/main/java/dk/kea/dat18i/team8/biotrio/demo/screenings/Screening\.java

src/main/java/dk/kea/dat18i/team8/biotrio/demo/screenings/ScreeningController\.java
