<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:a="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Screenings view</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 50%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }


</style>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Bio Trio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a href="/addscreening"  class="nav-link">Add Screening</a>
            </li>
        </ul>
        <span class="navbar-text">
        Here you can see the screenings
        </span>

    </div>
</nav>

    <table>
    <thead>


    <th scope="col">Showing</th>
    <th scope="col">Show Date</th>
    <th scope="col">Show Time</th>
    <th scope="col">Movies</th>
    <th scope="col">Theater</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
    </thead>

    <tr th:each="screening: ${screeninglist}" >
        <th scope="row" th:text="${screening.getScreening_id()}">1</th>
        <td th:text="${screening.getShowing().toLocalDate()}">{{Showing}}</td>
        <td th:text="${screening.getShowing().toLocalTime()}">{{Time}}</td>
        <td th:text="${screening.getMovie().getTitle()}">{{Movie}}</td>
        <td th:text="${screening.getTheater().getTheater_name()}">{{Theater}}</td>

        <td>
            <a th:href="@{'/screenings/edit/' + ${screening.screening_id}}"  class="btn btn-warning">Edit</a>
        </td>


        <td>
            <a th:href="@{'/screenings/delete/' + ${screening.screening_id}}"  class="btn btn-danger">Delete</a>
        </td>

    </tr>



</table>

</body>





<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>