<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add Movie</title>
    <link th:href="@{/css/nav.css}" href="/static/css/nav.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/form.css}" href="/static/css/form.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<header>
<div class="container">
    <h1>BIO<span>TRIO</span></h1>
    <nav>
        <ul>
            <li><a href="/movies">Exit</a></li>
        </ul>
    </nav>
</div>
</header>

    <div class="mainContent">
        <h3>Add new movie</h3>

        <form id="form" th:action="@{'/savemovie'}" method="post" th:object="${movieform}">

                <label for="title">Movie Title</label>
                <input type="text" th:field="${movieform.title}" class="form-control"  id="title" placeholder="Title">


                <label for="genre">Movie Genre</label>
                <input type="text" th:field="${movieform.genre}" class="form-control" id="genre" placeholder="Genre">

               <label for="duration">Movie Duration</label>
               <input type="text" th:field="${movieform.duration}" class="form-control"  id="duration" placeholder="Movie Duration">

               <label for="director">Movie Director</label>
               <input type="text" th:field="${movieform.director}" class="form-control" id="director" placeholder="Movie Director">

              <label for="director">Movie Plot</label>
              <input type="text" th:field="${movieform.plot}" class="form-control" id="plot" placeholder="Movie Plot">


            <label for="format">Movie Format</label>
            <select th:field="${movieform.format}" class="form-control" id="format" name = "movies" placeholder="Movie Format">
                <option value="2D">2D</option>
                <option value="3D">3D</option>
            </select>

            <label for="image">Movie Image</label>
            <input type="text" th:field="${movieform.image}" id="image" placeholder="Movie Image">

            <button class="button1" type="submit">Add Movie</button>
            <a  class="button2" href="/movies " role="button" >Cancel</a>
        </form>

    </div>
</body>
</html>
