<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add Theater</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

<div class="topnav">
    <a href="/theaters">Go back</a> &nbsp
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Add new theater</h1>
        <p class="lead">

        <form action="/savetheater" method="post" th:object="${theaterform}">
            <div class="form-group">
                <label for="theater_name">Theater Name</label>
                <input type="text" class="form-control" th:field="${theaterform.theater_name}" id="theater_name" placeholder="Theater Name" maxlength="20">
            </div>
            <div class="form-group">
                <label for="theater_format">Theater Format</label>
                <select th:field="${theaterform.theater_format}" class="form-control" id="theater_format">
                    <option value="2D">2D</option>
                    <option value="3D">3D</option>
                </select>
            </div>
            <div>
                <label for="number_of_rows">Number Of Rows</label>
                <input type="number" class="form-control" th:field="${theaterform.number_of_rows}" id="number_of_rows"
                       placeholder="NumberOfRows">
            </div>
            <div>
                <label for="seats_per_row">Seats Per Row</label>
                <input type="number" class="form-control" th:field="${theaterform.seats_per_row}" id="seats_per_row"
                       placeholder="SeatsPerRow">
            </div>

            <button type="submit" class="btn btn-primary">Add Theater</button>
            <button type="reset" class="btn btn-primary">Cancel</button>
        </form>



        </p>
    </div>
</div>



<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>