<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add Screening</title>
    <link th:href="@{/css/nav.css}" href="/static/css/nav.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/form.css}" href="/static/css/form.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<header>
    <div class="container">
        <a href="/"><h1>BIO<span>TRIO</span></h1></a>
        <nav>
            <ul>
                <li><a href="/screenings">Exit</a></li>
            </ul>
        </nav>
    </div>
</header>

    <div class="mainContent">
        <h3>Add new Screening</h3>

        <form id="form" nave="screening" th:action="@{'/savescreening'}" th:object="${screeningForm}"  method="post">

         <label for="showing">Showing Date & Time </label>
         <input type="text" th:field="${screeningForm.showing}"  id="showing" name="showing" placeholder="yyyy MM dd HH:mm">



         <label for="movie">Movies</label>
         <select th:field="${screeningForm.movie_id}"  id="movie" placeholder="Movies">
             <option th:each="movie: ${movielist}"
                     th:value="${movie.getId()}"
                     th:text="${movie.getTitle()}"></option>
         </select>

            <label for="theater">Theater</label>
            <select th:field="${screeningForm.theater_id}"  id="theater" placeholder="Theater">
                <option th:each="theater: ${theaterlist}"
                        th:value="${theater.getTheater_id()}"
                        th:text="${theater.getTheater_name()}"></option>
            </select>

            <button class="button1" type="submit">Save</button>
            <a  class="button2" href="/screenings " role="button" >Cancel</a>


 </form>

<!--        <SCRIPT>-->
<!--            var myForm = document.getElementById('form');-->

<!--            myForm.addEventListener('submit', function() {-->
<!--                var allInputs = myForm.getElementsByTagName('input');-->

<!--                for (var i = 0; i < allInputs.length; i++) {-->
<!--                    var input = allInputs[i];-->

<!--                    if (input.name && !input.value) {-->
<!--                        input.name = '';-->
<!--                    }-->
<!--                }-->
<!--            });-->

<!--        </SCRIPT>-->

</div>

<script>
   // function checkTime(){
     //   var screeningtime=document.forms["screening"]["showing"];
       // var datetime=[[${datetime}]];
        //for(var i=0; i<screenings.length;i++){
          //  if(datetime[i]==screeningtime){
            //    alert("There is already a screening at this time!")
              //  return false;
            //}
        //}
        //return true;
    //}

</script>

</body>
</html>
