<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add Booking</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Bio Trio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Add Booking <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">button</a>
            <a class="nav-item nav-link" href="#">button</a>
            <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">button</a>
        </div>
    </div>
</nav>




<!-- here goes comments -->

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Add new Booking</h1>
        <p class="lead">

        <form th:action="@{'/savebooking'}" method="post" th:object="${booking}">
            <div class="form-group">
                <label for="phone_no">phone_no</label>

                <input type= "text" class="form-control" id= "phone_no" name = "phone_no" placeholder="phone_no" >
            </div>
            <div class="form-group">
                <label for="screening">Screening</label>
                <input type="text" class="form-control" id="screening" name = "screening"placeholder="screening" >
            </div>

        <div class="form-group">
            <label for="seat_id">Seat Booked</label>
            <input type="text" class="form-control" id="seat_id" name = "seat_id"placeholder="seat_id" >
        </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-primary">Cancel</button>
        </form>

        <br>
        <span><a href = "/bookings" class="fas fa-undo"> Go back to booking view </a> </span>

        </p>
    </div>
</div>



<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>