<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add Movie</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Bio Trio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" href="/movies">Movies <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <span class="navbar-text">
      Here you can add movie
    </span>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Add new movie</h1>
        <p class="lead">

        <form th:action="@{'/savemovie'}" method="post" th:object="${movieform}">
            <div class="form-group">
                <label for="title">MovieTitle</label>
                <input type="text" class="form-control"  id="title" placeholder="Title" maxlength="20">
            </div>
            <div class="form-group">
                <label for="genre">MovieGenre</label>
                <input type="text" class="form-control" id="genre" placeholder="Genre">
            </div>
            <div class="form-group">
                <label for="director">MovieDirector</label>
                <input type="text" class="form-control" id="director" placeholder="MovieDirector">
            </div>
        <div class="form-group">
            <label for="director">MoviePlot</label>
            <input type="text" class="form-control" id="plot" placeholder="MoviePlot">
        </div>
        <div class="form-group">
            <label for="duration">MovieDuration</label>
            <input type="number" class="form-control"  id="duration" placeholder="MovieDuration">
        </div>
        <div class="form-group">
            <label for="movie_format">MovieFormat</label>
            <input type="text" class="form-control"  id="movie_format" placeholder="MovieFormat">
        </div>
        <div class="form-group">
            <label for="theater_id">Theater</label>
            <input type="text" class="form-control"  id="theater_id" placeholder="TheaterId">
        </div>

            <button type="submit" class="btn btn-primary">Add Movie</button>
            <button type="reset" class="btn btn-primary">Cancel</button>
        </form>



        </p>
    </div>
</div>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>
