<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add Screening</title>
    <link th:href="@{/css/nav.css}" href="/static/css/nav.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/form.css}" href="/static/css/form.css" rel="stylesheet" type="text/css"/>
</head>

<header>
    <div class="container">
        <h1>BIO<span>TRIO</span></h1>
        <nav>
            <ul>
                <li><a href="/">Exit</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>

<h3>Add screening</h3>
<div class="container2">
        <form th:action="@{'/savescreening'}" method="post" th:object="${screening}">
                <label for="screeningdate">Screening Date</label>
                <input type= "text" class="form-control" id= "screeningdate" name = "screening-date" placeholder="Screening Date" >


                <label for="screeningstarts">Screening Starts</label>
                <input type="text" class="form-control" id="screeningstarts" name = "screening-start"placeholder="Screening Starts" >


            <button type="submit">Add Screening"</button>
            <button type="reset">Cancel</button>
        </form>
    </div>

</body>
</html>