<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add Screening</title>
    <link th:href="@{/css/nav.css}" href="/static/css/nav.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/form.css}" href="/static/css/form.css" rel="stylesheet" type="text/css"/>

</head>

<header>
    <div class="container">
        <h1>BIO<span>TRIO</span></h1>
        <nav>
            <ul>
                <li><a href="/">Exit</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>

    <div class="mainContent">
        <h3 class="display-4">Add new Booking</h3>

        <form id="form" th:action="@{'/savebookings'}" th:object="${bookingform}" method="post">


                <label for="phone_no">Telephone Number</label>
                <input type="text" class="form-control" th:field="${bookingform.phone_no}" id="phone_no" placeholder="Telephone Number" maxlength="20">



            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-primary">Cancel</button>

    </div>

</body>
</html>