<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add Screening</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Bio Trio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
            </li>
        </ul>
        <span class="navbar-text">
      Here you can create screenings
    </span>
    </div>
</nav>


<!-- here goes comments -->

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Add new Screening</h1>
        <p class="lead">

        <form th:action="@{'/savescreening'}" th:object="${screeningForm}" method="post">

        <!-- <label for="screeningdate">Screening Date</label>

         <input type= "date" class="form-control" id= "screeningdate" name = "screening-date" placeholder="Screening Date" >
     </div>-->

     <div class="form-group">

         <label for="showing">Screening Date</label>
         <input th:field="${screeningForm.showing}" class="form-control" id="showing" placeholder="Showing">

     </div>

     <div class="form-group">

         <label for="movie">Movies</label>
         <select th:field="${screeningForm.movie_id}" class="form-control" id="movie" placeholder="Movies">
             <option th:each="movie: ${movielist}"
                     th:value="${movie.getId()}"
                     th:text="${movie.getTitle()}"></option>
         </select>
     </div>


     <button type="submit" class="btn btn-primary">Add Screening</button>
     <button type="reset" class="btn btn-primary">Cancel</button>
 </form>

 <br>
 <span><a href="/screenings" class="fas fa-undo"> Go back to screenings view </a> </span>

 </p>
</div>
</div>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
 integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
 crossorigin="anonymous"></script>

</body>
</html>

<!--th:field="${screeningForm.movie_id}"-->