<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Screening Edit</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Screening</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/screenings">Screenings <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <span class="navbar-text">
      Manage Screenings here
    </span>
    </div>
</nav>




<!-- Here is the form to edit the selected screening -->

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Edit Screening</h1>
        <p class="lead">

        <form action="/updatescreening" method="post" th:object="${screening}">


            <input type="hidden" th:field="${screening.screening_id}">
        <!--
        <div class="form-group">
                <label for="screening date"></label>
                <input type="date" class="form-control" th:field="${screening.screening_date}" id="screening date" placeholder="Screening Date" maxlength="10">
            </div>
            <div class="form-group">
                <label for="screening starts">Screening Starts</label>
                <input type="time" class="form-control" th:field="${screening.screening_starts}" id="screening starts" placeholder="Screening Starts">
            </div>

            -->
        <div class="form-group">
            <label for="screeningdate">Screening Date</label>

            <input type= "date" class="form-control" id= "screeningdate" name = "screening-date" placeholder="Screening Date" >
        </div>
        <div class="form-group">
            <label for="screeningstarts">Screening Starts</label>
            <input type="time" class="form-control" id="screeningstarts" name = "screening-start"placeholder="Screening Starts" >
        </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-primary">Cancel</button>
        </form>



        </p>
    </div>
</div>



<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>