<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Edit Theater</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Edit Theater</h1>
        <p class="lead">

        <form action="/updatetheater" method="post" th:object="${theaterform}">

        <input type="hidden" th:field="${theaterform.theater_id}">
            <div class="form-group">
                <label for="theater_name">Theater Name</label>
                <input class="form-control" th:field="${theaterform.theater_name}" id="theater_name" placeholder="Theater Name" >
            </div>
            <div class="form-group">
                <label for="number_of_seats">Number Of Seats</label>
                <input class="form-control" th:field="${theaterform.number_of_seats}" id="number_of_seats" placeholder="Number Of Seats">
            </div>
            <div class="form-group">
                <label for="theater_format">Theater Format</label>
                <input class="form-control" th:field="${theaterform.theater_format}" id="theater_format" placeholder="Theater Format">
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <a href="/theaters" class="btn btn-danger">Cancel</a>
        </form>


        </p>
    </div>
</div>



<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>