<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Screening Edit</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/screenings">Employees <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <span class="navbar-text">
      Manage employees here
    </span>
    </div>
</nav>




<!-- Here is the form to edit the selected employee -->

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Edit Employee</h1>
        <p class="lead">


        <form action="/updateemployee" method="post" th:object="${employee}">


            <input type="hidden" th:field="${employee.employee_id}">

        <div class="form-group">
            <label for="name"></label>
            <input  class="form-control" th:field="${employee.name}"  id="name" placeholder="name">
        </div>
        <div class="form-group">
            <label for="lastname"></label>
            <input  class="form-control" th:field="${employee.lastName}"  id="lastname" placeholder="lastname">
        </div>

            <div class="form-group">
                <label for="username"></label>
                <input  class="form-control" th:field="${employee.username}"  id="username" placeholder="username">
            </div>
        <div class="form-group">
            <label for="password"></label>
            <input  class="form-control" th:field="${employee.password}"  id="password" placeholder="password">
        </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <a href="/employees" class="btn btn-danger">Cancel</a>
        </form>



        </p>
    </div>
</div>



<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>