<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Screening Edit</title>
    <link th:href="@{/css/nav.css}" href="/static/css/nav.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/form.css}" href="/static/css/form.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<header>
    <div class="container">
        <h1>BIO<span>TRIO</span></h1>
        <nav>
            <ul>
                <li><a href="/theaters">Exit</a></li>
            </ul>
        </nav>
    </div>
</header>
    <div class="mainContent">
        <h3>Edit Showing</h3>

        <form id="form" action="/updatescreening" method="post" th:object="${screening}">

            <input type="hidden" th:field="${screening.screening_id}">


                <label for="showing">Showing</label>
                <input type="text" th:field="${screening.showing}"  id="showing" placeholder="Showing">

                <label for="movie">Movies</label>
                <select th:field="${screeningForm2.movie_id}" id="movie" placeholder="Movies">
                    <option th:each="movie: ${movielist2}"
                            th:value="${movie.getId()}"
                            th:text="${movie.getTitle()}"></option>
                </select>

                <label for="theater">Theater</label>
                <select th:field="${screeningForm2.theater_id}" id="theater" placeholder="Theater">
                    <option th:each="theater: ${theaterlist2}"
                            th:value="${theater.getTheater_id()}"
                            th:text="${theater.getTheater_name()}"></option>
                </select>

            <button class="button" type="submit">Save</button>
                <a  href="/screenings " role="button" class="button" >Cancel</a>

        </form>

</div>
</body>
</html>
