<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Booking Edit</title>
    <link th:href="@{/css/nav.css}" href="/static/css/nav.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/form.css}" href="/static/css/form.css" rel="stylesheet" type="text/css"/>ootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<header>
    <div class="container">
        <h1>BIO<span>TRIO</span></h1>
        <nav>
            <ul>
                <li><a href="/bookings">Exit</a></li>
            </ul>
        </nav>
    </div>
</header>
    <div class="mainContent">
        <h3>Edit Booking</h3>
        <form id="form" action="/updatebooking" method="post" th:object="${bookingform}">

            <input type="hidden" th:field="${bookingform.booking_id}">


                <label for="phone_no">Phone No</label>
                <input type="text" class="form-control" th:field="${bookingform.phone_no}" id="phone_no" placeholder="Phone No">

            <label for="screening_id">Screening Booked</label>
            <input type="number" class="form-control" th:field="${bookingform.screening}" id="screening_id" placeholder="Screening Booked">

            <button type="submit">Save Booking</button>
            <button type="reset">Cancel</button>
        </form>

</div>

</body>
</html>