<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Screening Edit</title>
    <link th:href="@{/css/nav.css}" href="/static/css/nav.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/form.css}" href="/static/css/form.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<h3>Edit Screening</h3>
<div class="container2">

        <form action="/updatescreening" method="post" th:object="${screening}">


            <input type="hidden" th:field="${screening.screening_id}">

                <label for="screening date"></label>
                <input type="text" class="form-control" th:field="${screening.screening_date}" id="screening date" placeholder="Screening Date" maxlength="10">

                <label for="screening starts">Screening Starts</label>
                <input type="text" class="form-control" th:field="${screening.screening_starts}" id="screening starts" placeholder="Screening Starts">

            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-primary">Cancel</button>
        </form>

</div>
</body>
</html>