<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Edit Theater</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Edit Theater</h1>
        <p class="lead">


        <form action="/updatetheater" method="post" th:object="${theaterform}">


            <input type="hidden" th:field="${theaterform.theater_id}">

            <div class="form-group">
                <label for="theater_name">TheaterName</label>
                <input th:field="${theaterform.theater_name}" class="form-control"  id="theater_name" placeholder="TheaterName">
            </div>

            <div class="form-group">
                <label for="theater_format">TheaterFormat</label>
                <select th:field="${theaterform.theater_format}" class="form-control" id="theater_format"  placeholder="TheaterFormat">
                    <option value="2D">2D</option>
                    <option value="3D">3D</option>
                </select>
            </div>

            <div class ="form-group">
                <label for="number_of_rows">NumberOfRows</label>
                <input th:field="${theaterform.number_of_rows}" class="form-control" id="number_of_rows" placeholder="NumberOfRows">
            </div>

            <div class ="form-group">
                <label for="seats_per_row">SeatsPerRow</label>
                <input th:field="${theaterform.seats_per_row}" class="form-control" id="seats_per_row" placeholder="SeatsPerRow">
            </div>


            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-primary">Cancel</button>
        </form>


        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>