<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bio Trio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Bio Trio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">

<a href="/screenings" style="color:#d1ff66;"> Go to screenings&nbsp</a>
<a href="/theaters" style="color:#d1ff66;">Go to theaters&nbsp</a>
<a href="/movies" style="color:#d1ff66;"> Go to movies&nbsp</a>
<a href="/bookings" style="color:#d1ff66;"> Go to bookings&nbsp</a>


            </span>
        </ul>
    </div>

</nav>

<button class=”btn” style=”float:right”>
            <li class="nav-item active">
                <a class="nav-link" href="/screenings">Screenings <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="/addscreening">Add Screening <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/movies">Movies <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/addmovie">Add Movie <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/bookings">Bookings <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/addbooking">Add Booking <span class="sr-only">(current)</span></a>

            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/theaters">Theaters <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                 <a class="nav-link" href="/addtheater">Add Theater <span class="sr-only">(current)</span></a>
            </li>










<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</button>
</body>
</html>