<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:a="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Screenings </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="container">


    <h2>Search for screenings</h2>
    <form th:action="@{/screenings-search}"  method="post">
        <input type="text" name="search" id="search" placeholder="yyy-MM-dd"/>
        <input type="submit" value="Search"/>
    </form>


    <div th:if="${not #lists.isEmpty(search)}">
            <h2>Screening List</h2>
            <table class="table table-striped">
                <tr>
                    <th>Screening</th>
                    <th>Showing</th>
                    <th>Theater</th>
                </tr>

                    <tr th:each="screeningSearch: ${search}">
                    <td th:text="${screeningSearch.screening_id}"></td>
                    <td th:text="${screeningSearch.getShowing().toLocalDate()}"></td>
                    <td th:text="${screeningSearch.getTheater().getTheater_name()}"></td>
                </tr>
            </table>
        </div>
</div>
</body>
</html></html>