<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:a="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Complete booking</title>
    <link th:href="@{/css/nav.css}" href="/static/css/nav.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/table.css}" href="/static/css/table.css" rel="stylesheet" type="text/css"/>
    


</head>

<body>
<header>
    <div class="container">
        <h1>BIO<span>TRIO</span></h1>
        <nav>
            <ul>
                <li><a href="/moviesuser">Exit</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="mainContent">

<h1>Seats</h1>


<form name="seat" th:object="${seatsCheck}" th:action="'/saveseats/'+${screening_id}" onsubmit="return validateForm()" method="post">
    <table>
        <th:block th:each="seat: ${seatsCheck.getSeats()}">
            <th:block th:if="${seat.getSeatNo()==1}">
                <tr><td th:text="'Row ' + ${seat.getRowNo()}">

            </th:block>
            <td>
                <input type="checkbox" id="check" name="check" class="largercheckbox"
                       th:disabled="${seat.getIsBooked()}"
                       th:value="${seat.getRowNo()+'-'+seat.getSeatNo()}"
                       th:field="*{checkedSeats}"
                       onclick="checkboxes()">
            </td>
            <script>
                function checkboxes()
                {
                    var inputElems = document.getElementsByTagName("input"),
                        count = 0;
                    for (var i=0; i<inputElems.length; i++) {
                        if (inputElems[i].type == "checkbox" && inputElems[i].checked == true){
                            count++;
                            if(count==5){
                                alert("You can choose maximum 4 seats!");
                                inputElems[i].checked=false;}
                        }
                    }
                }

            </script>

            <th:block th:if="${seat.getSeatNo()==seatsCheck.getSeats().get(seatsCheck.getSeats().size()-1).getSeatNo()}">
                </tr>
            </th:block>
        </th:block>
        <script>
            function validateForm() {
                var x = document.forms["seat"]["phonenumber"].value;
                if (x == "") {
                    alert("Phone number must be filled out");
                    return false;
                }
                return true;
            }

        </script>
        <tr>
           Enter phone number:<br>
                <input type="text" id="phonen" name="phonenumber">

        </tr>

    </table>
    <input type="submit" value="Book">

</form>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</body>
</html>