<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:a="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bookings view</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 50%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<body>

<h1>Bookings</h1>


<table>
    <thead>

    <th scope="col">Screening booked</th>
    <th scope="col">Booking Id</th>
    <th scope="col">Booking Phone No</th>
    <th scope="col">Seat booked</th>




    </thead>
    <tr th:each="booking: ${bookings}">

        <th scope="row" th:text="${booking.booking_id}">1</th>
        <td th:text="${booking.phoneNo}">{{Screening booked}}</td>
        <td th:text="${booking.seat_id}">{{Seat Booked}}</td>


    </tr>
</table>



<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>