<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Bookings view</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 50%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Bio Trio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">

                <a href="/bookings"  class="nav-link">Bookings</a>
            </li>
            <li class="nav-item active">
                <a href="/addbooking"  class="nav-link">Add Booking</a>
            </li>
        </ul>
        <span class="navbar-text">
      Here you can see all the bookings
    </span>
    </div>
</nav>

<table class="table table-hover">
    <thead>
    <tr>
    <th scope="col">Booking Id</th>
    <th scope="col">Seat booked</th>
    <th scope="col">Phone_No</th>
    <th scope="col">Screening_id booked</th>
    <th scope="col">Delete</th>
    <th scope="col">Edit</th>
    <th scope="col"></th>
    </tr>

    </thead>

    <tr th:each="booking: ${bookinglist}">

        <th scope="row" th:text="${booking.getBooking_id}">1</th>
        <td th:number="${booking.getSeat()}">{{Seat}}</td>
        <td th:text="${booking.getPhone_no}">{{Phone No}}</td>
        <td th:number="${booking.getScreening}">{{Screening Booked}}</td>
        <td><a class="btn btn-danger" th:href="@{'/deletebooking/' + ${booking.getBooking_id}}">Delete</a></td>
        <td><a class="btn btn-success" th:href="@{'/editbooking/' + ${booking.getBooking_id}}" >Edit</a></td>
        <td>

    </tr>

</table>



<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>