<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:a="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Movies view</title>
    <link th:href="@{/css/nav.css}" href="/static/css/nav.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/table.css}" href="/static/css/table.css" rel="stylesheet" type="text/css"/>

</head>

<body>
<header>
    <div class="container">
        <h1>BIO<span>TRIO</span></h1>
        <nav>
            <ul>

                <li>
                    <input type="text" name="searchbox" class="search" placeholder="Search">
                    <button>Search</button>
                </li>
                <li><a href="/">Exit</a></li>
            </ul>

        </nav>
    </div>
</header>
<div class="mainContent">
<h2>Bookings</h2>

<table id="table">
    <thead>

    <th scope="col">Screening booked</th>
    <th scope="col">Booking Id</th>
    <th scope="col">Booking Phone No</th>
    <th scope="col">Seat booked</th>


    </thead>
    <tr th:each="booking: ${bookings}">

        <th scope="row" th:text="${booking.booking_id}">1</th>
        <td th:text="${booking.phoneNo}">{{Screening booked}}</td>
        <td th:text="${booking.seat_id}">{{Seat Booked}}</td>


    </tr>
</table>
</div>
</body>
</html>