<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:a="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Screenings view</title>
    <link th:href="@{/css/nav.css}" href="/static/css/nav.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/table.css}" href="/static/css/table.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<header>
    <div class="container">
        <h1>BIO<span>TRIO</span></h1>
        <nav>
            <ul>

                <li><a href="/screenings" class="active">Screenings</a></li>
                <li><a href="/addscreening">Add screening</a></li>
                <li><a href="/">Exit</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="mainContent">
<h2>List of screenings</h2>
<table id="table">
    <thead>


    <th scope="col">Screening Id</th>
    <th scope="col">Screening Date</th>
    <th scope="col">Screening Time</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>



    </thead>
    <tr th:each="screening: ${screenings}">

        <th scope="row" th:text="${screening.screening_id}">1</th>
        <td th:text="${screening.screening_date}">{{Screening Date}}</td>
        <td th:text="${screening.screening_starts}">{{Screening Time}}</td>

        <td>
            <a th:href="@{'/screenings/edit/' + ${screening.screening_id}}"  class="button1">Edit</a>
        </td>


        <td>
            <a th:href="@{'/screenings/delete/' + ${screening.screening_id}}"  class="buttton2">Delete</a>
        </td>
    </tr>
</table>
</div>
</body>
</html>