<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:a="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Theaters view</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 50%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<body>

<div class="topnav">
    <a href="/">Go back</a> &nbsp
    <a class="active" href="/theaters">List of theaters</a> &nbsp
    <a href="/addtheater">Add theater</a>

</div>

<br>
<br>

<table>
    <thead>


    <th scope="col">TheaterId</th>
    <th scope="col">TheaterName</th>

    <th scope="col">TheaterFormat</th>
    <th scope="col">NumberOfRows</th>
    <th scope="col">SeatsPerRow</th>
    <th scope="col"></th>
    <th scope="col"></th>


    </thead>
    <tr th:each="theater: ${theaters}">

        <th scope="row" th:text="${theater.theater_id}">1</th>
        <td th:text="${theater.theater_name}">{{TheaterName}}</td>
        <td th:text="${theater.theater_format}">{{TheaterFormat}}</td>
        <td th:text="${theater.number_of_rows}">{NumberOfRows}</td>
        <td th:text="${theater.seats_per_row}">{SeatsPerRow}</td>
        <td><a class="btn btn-light" th:href="@{'/deletetheater/' + ${theater.theater_id}}">Delete</a></td>
        <td><a class="btn btn-light" th:href="@{'/edittheater/' + ${theater.theater_id}}">Edit</a></td>

    </tr>
</table>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>